.signup-container {
    background-image: url('./images/img.png');
    /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
    /* Set the height to the desired value */
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}


/* .gender {
    display: flex;
} */

button:hover {
    background-color: #0056b3;
}

p {
    color: #dc3545;
    margin: 0;
    font-size: 14px;
    margin-top: 5px;
}


/* Media queries for responsiveness */

@media (max-width: 768px) {
    form {
        max-width: 300px;
    }
}


/* LoginPage.css */


/* Container styles */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}


/* Form styles */

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


/* Add this CSS to your existing styles or a separate CSS file */

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}


/* Add this CSS to your existing styles or a separate CSS file */

.password-input {
    position: relative;
    display: flex;
    align-items: center;
}

.password-toggle {
    position: absolute;
    right: 0;
    background: none;
    bottom: 4px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #999;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
    /* Adjust the width as needed */
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    form {
        max-width: 300px;
    }
}


/* Navbar.css */


/* Base styles for the Navbar */


/* Navbar styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #333;
    color: white;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-ul li {
    margin: 0 15px;
}

.nav-ul a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}


/* FontAwesome icons */

.nav-ul li svg {
    margin-right: 5px;
}


/* Responsive design */

@media screen and (max-width: 768px) {
    .nav-ul {
        flex-direction: column;
        align-items: center;
    }
    .nav-ul li {
        margin: 10px 0;
    }
}